# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.*

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Others
*.local

# Coverage
coverage/

# IDEs
.idea/
*.iml

# Mac system files
*.DS_Store
